pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
nltk==3.8.1
textblob==0.18.0
gradio==4.26.0
regex==2024.5.15
dateparser==1.2.0
matplotlib==3.8.4
seaborn==0.13.2
beautifulsoup4==4.12.2
requests==2.32.3
# Additional dependencies for specific tasks
spacy==3.7.0
spacy-transformers==1.2.0
spacy-lookups-data==1.0.4
